.spinner {
    border: 8px solid #CDC2A5;
    border-top: 8px solid #295F98;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  